@font-face{
    font-family: "decorativa";
    src: url(../fonts/SigmarOne-Regular.ttf)
}
@font-face{
    font-family: "padrao";
    src: url(../fonts/Roboto-Regular.ttf)
}

$fonte-decorativa: "decorativa";
$fonte-padrao: "padrao";
